@{
    ViewBag.Title = "SearchResult";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@model PagedList.IPagedList<Nhom05_NoSQL.Models.Sanpham>
@using PagedList.Mvc
<style>
    .aside-content ul li a {
        color: #636363;
    }

        .aside-content ul li a:hover {
            color: #0099ae;
        }

    .btn-light {
        color: #898989;
    }

        .btn-light:hover {
            background-color: #FA748F;
            color: white;
        }

    .ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    ul.pagination li {
        display: inline;
    }

        ul.pagination li a {
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            float: left;
            margin: 0 2.5px;
            border-radius: 0;
            background: #fff;
            text-align: center;
            font-size: 14px;
            color: #0c0c0c;
            border: solid 1px #e1e1e1;
        }

            ul.pagination li a.active {
                background-color: #FA748F;
                color: white;
            }

            ul.pagination li a:hover:not(.active) {
                background-color: #FA748F;
            }
</style>
<link href="~/css/StyleSheet1.css" rel="stylesheet" />
<h2 class="title-head" style="width: 100%;padding-top:10px; font-family:Roboto,HelveticaNeue,Helvetica Neue,sans-serif; margin: 0; text-transform: none; font-weight: 600; color:  #FA748F; padding-bottom: 10px; display: inline-block; position: relative; font-size: 21px; line-height: 22px; border-bottom:2px solid rgba(0,0,0,.125); text-transform: uppercase;">
    <span>Kết Quả Tìm Kiếm </span>
</h2>
<p style="font-size: 14px;text-transform: uppercase;color:red;padding-top: 12px;">@ViewBag.ThongBao</p>
<div class="row" style="margin-bottom:5%">
    @{
        foreach (var item in Model)
        {

            <div class="col-3" style="margin-top:20px; ">
                <div class="card h-100 mb-1">
                    <div class="item_product_main margin-bottom-20 item_product_main_relative">
                        <div class="product-box product-item-main product-item-compare">
                            <div class="product-thumbnail">
                                <div class="content_hover">
                                    <a class="image_thumb p_img" title="@item.TenSP" href="/Book/ChiTietSach/@item._id">
                                        <div class="content-overlay"></div>
                                        <img src="@Url.Content("~/Public/images/" + item.AnhBia)" class="card-img-top" width="60%" height="200px" alt="Image" />
                                        <a title="Xem nhanh" href="/SanPham/ChiTietSanPham/@item.MaSP" data-handle="tren-duong-bang" class="xem_nhanh btn-circle btn_view btn right-to quick-view hidden-xs hidden-sm">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </a>
                                </div>
                            </div>
                            <div class="product-info product-bottom mh" style="width:100%; float: left; padding: 0; position: relative; text-align: center; min-height: 99px;">
                                <h3 class="product-name" style="font-family:Roboto,HelveticaNeue,Helvetica Neue,sans-serif; font-size: 14px; font-weight: 600; margin:0 0 5px; overflow: hidden; text-transform: uppercase; word-wrap: break-word; line-height: 22px; padding: 10px 15px 0; text-overflow: ellipsis; white-space: nowrap;">
                                    <a href="/SanPham/ChiTietSanPham/@item.MaSP" title="@item.TenSP" style="color: #636363;">
                                        @item.TenSP
                                    </a>
                                </h3>
                                <div class="section">
                                    <div class="blockprice" style="min-height: 30px; width: 100%;">
                                        <div class="product-item-price price-box">

                                            <span class="product-item-price-sale old-price">
                                                <span class="compare-price price product-price-old" style="font-size: 18px; font-weight: 700; font-family:Roboto,HelveticaNeue,Helvetica Neue,sans-serif; color: #FA748F; font-weight: 600; line-height: 20px; ">
                                                    @item.GiaBan.ToString("N0") VND
                                                </span>
                                            </span>


                                        </div>


                                    </div>
                                </div>
                                <div class="product-action clearfix" style="text-align: center; height: 40px; width: 100%; float: left; z-index: 10;">
                                    <form action="#" method="post" class="variants form-nut-grid" data-id="product-actions-1272032" enctype="multipart/form-data">
                                        <div class="group_action" style="text-align: center; width: 100%; display: flex;  justify-content:center">

                                            <input type="hidden" name="variantId" value="1953228">

                                            <a class="btn btn-light" href="/GioHang/ThemGioHang/?id=@item._id &soluong=1" style="border: 2px solid #e1e1e1; font-family:Roboto,HelveticaNeue,Helvetica Neue,sans-serif; font-size: 13px; font-weight: 400; text-decoration: none;  display: inline-block; padding: 8px 20px 8px 20px;">

                                                <i class="fa fa-shopping-cart"></i> Thêm vào giỏ
                                            </a>


                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    @*tạo link liên kết trang*@
    <nav class="clearfix relative nav_pagi f-right w_100" style="text-align: right; width:100%; margin: 15px 0 30px;  border-top: 1px solid #e1e1e1; border-bottom: 1px solid #e1e1e1;  float: right;">
        <div class="pagination" style="float:right ;padding-top:10px">
            @*Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount*@
            @Html.PagedListPager(Model, page => Url.Action("SearchResult", new { page = page, @key = ViewBag.Key }))
        </div>
    </nav>
</div>
